img {
  max-height: 250px;
  max-width: 250px;
}

li {
  display: inline-block;
  float: left;
  height: 350px;
  margin-left: 4vmin;
}

.content {
  display: inline-block;
  max-width: 250px;
  height: 250px;
  transition: height 1s linear 0s;
  border: 2px solid black;
}


.content p {
  text-align: left;
  align-content: center;
  max-width: 200px;
  padding-left: 1vmin;
  opacity: 0;
  transition: opacity 1s linear 0s;
}

.content:hover p {
  opacity: 1;
}

.content:hover {
  height: fit-content;
}
